body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.universityAttr {
  background-color: lightskyblue;
  width: 130px;
  float: left;
  border-radius: 10px;
}

.title{
  text-align: center;
  color :magenta;
  font-family: 'Times New Roman', Times, serif;
}